langchain
openai
faiss-cpu
streamlit
tiktoken
pandas
numpy
scikit-learn
matplotlib
seaborn
tensorflow
transformers
sentence-transformers
pydantic
tenacity
chromadb
unstructured
beautifulsoup4
lxml
pypdf
langchain_huggingface
dotenv
langchain-community
requests
lxml
bs4
